{% extends 'index.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}
{% load widget_tweaks %}

{% block head_content %}

{%  endblock %}
<!-- Page Heading -->
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="card shadow mb-4 w-100">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_report_data' %}">Instructions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'summary_modes' %}">Confirm services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_reporting_type' 'transit_data' %}">Transit data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_reporting_type' 'revenue' %}">Revenue</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_reporting_type' 'expense' %}">Expenses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_reporting_type' 'fund_balance' %}">Ending balances</a>
                        </li>
                        {% if ready_to_submit %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'submit_data' %}">Submit data</a>
                            </li>
                        {% endif %}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{% url 'review_data' %}">Review</a>#}
{#                        </li>#}
                    </ul>
                </div>
                <div class="card-body" style="">
                    <h3>Confirm current services</h3>
                    <div style="padding-left: 1rem">
                        <p> Please confirm that these are the modes that your transit operates.
                            To remove a mode press the delete button.
                        </p>
                        {% if error_no_modes %}
                            <div class="alert alert-danger">
                                You must have at least one mode before entering data.  Please add a mode.
                            </div>
                        {% endif %}

                        <div class = 'table-responsive'>
                            <table class = "table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th style="width:25%">Mode</th>
                                    <th>Administration of mode</th>
                                    <th style="width:10%; text-align: center">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%  for mode in modes %}
                                    <tr class="fieldWrapper">
                                        <td>{{ mode.transit_mode }}</td>
                                        <td>{{ mode.administration_of_mode}}</td>
                                        <td style="text-align: center;">
                                            <a href="#" class="delete-mode" data-mode="{{ mode.transit_mode }}" data-admin-mode="{{ mode.administration_of_mode }}">
                                                <i class="fa fa-times-circle text-danger"> </i>
                                            </a>
                                        </td>
                                    </tr>
                                {%  endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h3>Add new service</h3>
                    <div style="padding-left: 1rem">
                        <p> Please add any new modes of service here</p>
                        {% if messages %}
                            {% for message in messages %}
                                <h4 class="{{ message.tags }}">{{ message }}</h4>
                            {% endfor %}
                        {% endif %}

                        <form method="POST" class="">
                            {% csrf_token %}
                            <div class = 'table-responsive'>
                                <table class = "table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th style="width:25%">Mode</th>
                                        <th>Administration of mode</th>
                                        <th style="width:10%; text-align: center">Add</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr class="fieldWrapper">
                                        <td>{{ form.transit_mode }}</td>
                                        <td>{{ form.administration_of_mode}}</td>
                                        <td style="text-align: center"><input type="submit" value="Add mode" class="btn btn-sm btn-primary"></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </form>


                    </div>
                    <div class="text-center">
                        <a class="btn btn-lg btn-primary" href="{% url 'accept_modes' %}">Confirm service</a>
                    </div>
                <br />
                <br />
                <br />

                <p class = "text-center">Before adding or deleting a mode, please consider checking in with WSDOT first, as mode type often has important funding implications.</p>
                </div>
            </div>
        </div>
    </div>

{#    <div class="card">#}
{#    <div class = 'card-body'#}
{#        <div class = 'card-header'>#}
{#        <h3 class="text-center">#}
{#            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">#}
{#                Transit mode appendix </button>#}
{#        </h3>#}
{#            </div>#}
{#                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">#}
{#                     <div class="card card-body">#}
{#                <table>#}
{#                    <thead>#}
{#                    <tr>#}
{#                    <th>#}
{#                        Transit Mode#}
{#                    </th>#}
{#                        <th>Definition</th>#}
{#                    </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                    <tr>#}
{#                    <td> Fixed Route</td>#}
{#                        <td>Service provided on a repetitive, fixed schedule along a specific route with vehicles stopping to pick up#}
{#                        and deliver passengers to specific locations</td>#}
{#                    </tr>#}
{#                                       <tr>#}
{#                    <td> Demand Response</td>#}
{#                        <td> A transit mode composed of passenger cars, vans, or small buses operating in response to calls from#}
{#                        passengers or their agents to the transit operator, who then dispatches a vehicle to pick up the passengers and transport#}
{#                        them to their destinations</td>#}
{#                    </tr>#}
{#                                                           <tr>#}
{#                    <td> Vanpool</td>#}
{#                        <td>A transit mode composed of vans, small buses, and other vehicles operating as a ride sharing arrangemennt#}
{#                         that provides transportation to a group of individuals traveling directly between their homes and a regular destination#}
{#                                                           within the same geopgaphical area</td>#}
{#                    </tr>#}
{#                                                           <tr>#}
{#                    <td> Demand Response Taxi Services</td>#}
{#                        <td>A form of demand response mode operated through taxicab providers. The mode is a purchased transportation service.</td>#}
{#                    </tr>#}
{#                                                           <tr>#}
{#                    <td> Commuter Bus</td>#}
{#                        <td>Local, fixed route transportation primarily connecting outlying areas with a central city</td>#}
{#                    </tr>#}
{#                                                          <tr>#}
{#                    <td> Route Deviated</td>#}
{#                        <td>A type of transit service that operates as conventional fixed-route bus service along a fixed alignment or path with#}
{#                        scheduled time points at each terminal point and key intermediate locations. Route deviation service is different#}
{#                        than conventional fixed-route bus service in that the bus may deviate from the route alignment to serve destinations within a prescribed distance#}
{#                        (e.g. three quarters of a mile) of the route. Following an off route deviation, the bus must return to the point#}
{#                        on the route it left. Passengers may use the service in two ways:#}
{#                            <ul>#}
{#                                <li>If they want to be taken off route as part of a service deviation, they must tell the bus operator when boarding.</li>#}
{#                                <li>If they want to be picked up at an off route location, they must call the transit system and request a pickup, and the dispatcher#}
{#                                notifies the bus operator.</li>#}
{#                            </ul>#}
{#                        </td>#}
{#                    </tr>#}
{#                                                          <tr>#}
{#                    <td> Streetcar</td>#}
{#                        <td>Rail transit mode for systems operating entire routes predominantly on streets in mixed traffic</td>#}
{#                    </tr>#}
{#                                                          <tr>#}
{#                    <td> Trolley Bus</td>#}
{#                        <td>A transit mode composed of electric passenger vehicles, manually steered and operating singly on city streets.#}
{#                        Vehicles are propelled by a motor drawing currents through overhead wires via trolleys, from a central power source not on the vehicle</td>#}
{#                    </tr>#}
{#                                                          <tr>#}
{#                    <td>Light Rail</td>#}
{#                        <td>#}
{#                        A transit mode that is typically an electric railway with a light volume traffic capacity as compared to heavy rail.#}
{#                        </td>#}
{#                    </tr>#}
{#                                                          <tr>#}
{#                    <td> Commuter Rail</td>#}
{#                        <td>An electric or diesel propelled railway for urban passenger train service consisting of a local travel operating between a central city#}
{#                        and outlying areas</td>#}
{#                    </tr>#}
{#                                                          <tr>#}
{#                    <td> Bus Rapid Transit</td>#}
{#                        <td>Fixed route bus systems that operate at least 50 percent of service on fixed guideway. These systems also have defined passenger stations, traffic signal priority, short#}
{#                        headway services for a substantial part of weekdays and weekends, low floor vehicles or level platform boarding, and separate branding.#}
{#                        Agencies typically use off-board fare collection as well.</td>#}
{#                    </tr>#}
{#                    </tbody>#}
{#                </table>#}
{#           </div>#}
{#                </div>#}
{#                </div>#}
{#    </div>#}
{#    #}



    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModal">Are you sure you wish to delete this mode?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class = 'table-responsive'>
                        <table class = "table table-bordered">
                            <thead>
                            <tr>
                                <th>Mode</th>
                                <th>Administration of mode</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><span id="delete-mode-detail"></span></td>
                                <td><span id="delete-admin-mode-detail"></span></td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a id="final-delete" type="button" class="btn btn-danger" style="color: white">Delete mode</a>
                </div>
            </div>
        </div>
    </div>

{%  endblock %}


{% block page_scripts %}
    <script>
        $( ".delete-mode" ).click(function(e) {
            e.preventDefault();
            $("#delete-mode-detail").text($(this).attr('data-mode'));
            $("#delete-admin-mode-detail").text($(this).attr('data-admin-mode'));
            $('#final-delete').attr('href', "{% url 'delete_summary_mode_root' %}" + $(this).attr('data-mode') + "/" + $(this).attr('data-admin-mode'));
            $('#deleteModal').modal('show')
        });

    </script>

{% endblock %}


